@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-image: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257, 40%, 49%);
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  max-width: 1200px;
  margin: 25px;
}
.header__section {
  width: 100%;
  margin-bottom: 40px;
}
.header__section--logo-img {
  height: 50px;
}
.main__section {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.main__section__main-img {
  margin-right: 50px;
}
.main__section__main-img,
.main__section__general-information {
  color: white;
  width: 50%;
}
.main__section__main-img img {
  width: 100%;
}
.main__section__general-information--main-header {
  font-size: 3rem;
  margin-bottom: 25px;
}
.main__section__general-information--description {
  font-size: 1rem;
  margin-bottom: 25px;
}
.main__section__general-information--registration-btn {
  color: hsl(257, 40%, 49%);
  border: none;
  background-color: white;
  padding: 12px 50px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  transition: background-color linear 0.2s;
}
.main__section__general-information--registration-btn:hover {
  background-color: hsl(300, 69%, 71%);
  cursor: pointer;
}
.footer__section {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 40px;
}
.footer__section--social-mediacontanier {
  border: 1px solid white;
  padding: 10px;
  border-radius: 50%;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border linear 0.2s;
}

.footer__section--social-mediacontanier a svg {
  display: block;
  width: 20px;
  height: 20px;
}
.footer__section--social-mediacontanier svg path {
  fill: #ffffff;
  transition: fill linear 0.2s;
}

.footer__section--social-mediacontanier:hover,
.footer__section--social-mediacontanier:hover svg path {
  fill: hsl(300, 69%, 71%);
  border: 1px solid hsl(300, 69%, 71%);
  cursor: pointer;
}
@media (max-width: 800px) {
  body {
    background-image: url(../images/bg-mobile.svg);
  }
  main {
    max-width: 80%;
    margin: 25px;
  }
  .header__section {
    margin-bottom: 30px;
  }
  .header__section--logo-img {
    height: 40px;
  }
  .main__section {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .main__section__main-img {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .main__section__main-img,
  .main__section__general-information {
    width: 100%;
  }
  .main__section__general-information {
    text-align: center;
  }
  .main__section__main-img img {
    display: block;
    width: 100%;
  }
  .main__section__general-information--main-header {
    font-size: 1.5rem;
    margin-bottom: 25px;
  }
  .main__section__general-information--description {
    font-size: 1rem;
    margin-bottom: 25px;
  }

  .footer__section {
    justify-content: center;
    margin-bottom: 40px;
  }
  .footer__section--social-mediacontanier {
    padding: 7px;
    margin-left: 10px;
  }

  .footer__section--social-mediacontanier a svg {
    width: 15px;
    height: 15px;
  }
}
.main__section__general-information--registration-btn:focus-visible {
  outline: 2px solid hsl(300, 69%, 71%);
}
